.page.theme_dark {
  --button-color: #ff0070;
  --decoration-element: #ff0070;
  --background-image: url(/images/cover-image-dark.png);
  --hover-color: rgb(255 0 112 / 0.4);
  --focus-color: #ff0070;
  --main-title: #db00ff;
  --sub-title-color: #000028;
  --backgroundg-sub-title: #ff0070;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --link-color: #ff0070;
  --link-status: #f1b2ce;
  --shadow-color: #ff0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-color: #353430;
    --decoration-element: #353430;
    --background-image: url(/images/cover-image-light.png);
    --hover-color: rgb(50 49 45 / 0.4);
    --main-font: "IBM Plex mono" sans-serif;
    --focus-color: #353430;
    --main-title: #ffc2e6;
    --sub-title-color: #353430;
    --backgroundg-sub-title: #ff8dcb;
    --title-color: #353430;
    --text-color: #353430;
    --bg-color: #fff1f7;
    --link-color: #ff8dcb;
    --link-status: #353430;
    --shadow-color: #ff0070;
  }

  .theme_light .decoration-element {
    display: none;
  }
}

.theme_auto .decoration-element {
  display: none;
}


