/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-font:'IBM Plex mono' sans-serif;
--title-color:#DB00FF;
--subtitle-color:#000028;
--text-color: #F1B2CE;
--section-title: #FF0070;
--link-color: #FF0070;

}
