/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--bg-color);
  background-image: url(/images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex mono";
  font-size: 18px;
}
.section {
  padding: 0px 20px;
}

.header {
  position: relative;
  block-size: 100vh;
  min-height: 375px;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid #ff0070;
  border-right: 1px solid #ff0070;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #ff0070;
  border-left: 1px solid #ff0070;
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
}
.decoration-element {
  position: absolute;
  right: 48px;
  top: 21px;
}

.decoration-element::before {
  content: "REC";
  color: #ff0070;
  font-family: inherit;
  display: inline-block;
}

.decoration-element::after {
  content: "";
  background-color: #ff0070;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 4px 2px #ff0070;
  top: 6px;
  left: 42px;
  position: absolute;
}

.header__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  line-height: 82.5%; /* 129.525px */
  text-shadow: 4px 4px 0 var(--section-title);
  margin-left: -20px;
}

.header__theme-menu {
  justify-self: center;
}

.header__text {
  color: var(--text-color);
  font-size: 18px;
  justify-self: end;
  width: 50%;
  align-self: center;
  font-weight: 700;
  color: var(--subtitle-color);
  line-height: 23.4px;
}

.title_decor {
  background-color: var(--section-title);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--section-title);
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  padding: 2px 13px;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--section-title);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
  color: var(--section-title);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--section-title);
}

.main {
  padding-top: 60px;
}

.Focus__block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.column__title {
  font-weight: 700;
  color: var(--section-color);
  font-size: inherit;
  line-height: 23.4px;
}

.right__column {
  font-size: inherit;
  line-height: 23.4px;
  margin-bottom: 10px;
  font-weight: 700;
}

.right__pharahraph {
  font-size: inherit;
  line-height: 23.4px;
  color: var(--text-color);
  font-weight: 400;
  margin-bottom: 20px;
}
.right__pharahraph:last-child {
  margin-bottom: 0px;
}

.paragraph__link {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 1px 2px 0 var(--section-title);
}

.paragraph__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.paragraph__link:focus {
  outline: none;
}

.paragraph__link:focus-visible {
  outline: 1px solid var(--text-color);
  color: var(--section-title);
  outline-offset: 0px;
}

.concentration__block {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  
  grid-template-areas:
    "concentration unset unset"
    "multitasking eat gadgets";
}

.concentration {
  grid-area: concentration;
}

.multitasking {
  grid-area: multitasking;
}
.eat {
  grid-area: eat;
}

.gadgets {
  grid-area: gadgets;
}

.how__block {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.concentration__title {
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px; 
}


