/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  height: 100vh;
  min-width: 2000;
  padding: 20px;
}

.header {
  display: grid;
}

.decorated-zone {
}

.decoration__element {
}

.header__title {

}

.header__text {

}
