/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  
}

.header {
  block-size: 100vh;
  min-height: 375px;
  height: 100vh;
  padding: 20px;
  position: relative;
  
  
}

.decorated-zone::before {
  content: '';
  position: absolute;
  width: ;
}

decorated-zone::after{

}

.decoration__element {
}

.header__title {

}

.header__text {

}
