/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  
}

.header {
  position: relative;
  
  align-items: center;
  block-size: 100vh;
  min-height: 375px;
  height: 100vh;
  padding: 20px;
  
  
  
}

.decorated-zone::before {
  content: '';
  width: 25px;
  height: 25px;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;

}






.decoration__element {
  content: 'rec';
  position: absolute;
  color: #FF0070;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.header__title {

}

.header__text {

}
