/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-height: 375px;
  height: 100vh;
  padding: 20px;
  
  
  
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 10px;
  width: 26px;
  height: 26px;
  border-inline-end: 1px solid #FF0070;
  border-block-start: 1px solid #FF0070;
  bottom: 50px;
}






.decoration__element {
}

.header__title {

}

.header__text {

}
