/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
 
  background-color: #000028;
  background-image: url(/images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'IBM Plex mono';
  font-size: 18px;
  
  
  
}

.header {
  position: relative;
   block-size: 100vh;
  min-height: 375px;
  height: 100vh;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  
  
  
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid #FF0070;
  border-right: 1px solid #FF0070;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;

}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #FF0070;
  border-left: 1px solid #FF0070;
  left: 10px;
  bottom: 10px;
  width: 25px;
  height: 25px;


}
.decoration__element {
  position: absolute;
  right: 25px;
  

}

.decoration__element::before {
  content: 'REC';
  color: #FF0070;
  display: inline-block;
  
  
 
  
}

.decoration__element::after {
  content: '';
  background-color: #FF0070;
  width: 9px;
  height: 9px;
  border-radius: 9px;
  display: inline-block;
  box-shadow: 2px 2px 2px 2px #FF0070;
  
}



.header__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  text-shadow: 10px 10px 10px 10px ;
  color: var(--title-color);
  line-height: 82.5%; /* 129.525px */

}

.header__text {
  color: var(--text-color);

}

.header__theme-menu-list {
  display: flex;
  tex
}
