/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */

  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: "IBM Plex mono";
  font-size: 18px;
}
.section {
  padding: 0px 20px;
}

.header {
  position: relative;
  block-size: 100vh;
  min-block-size: 375px;
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: start;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-block-start: 1px solid var(--decoration-element);
  border-inline-end: 1px solid var(--decoration-element);
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-block-end: 1px solid var(--decoration-element);
  border-inline-start: 1px solid var(--decoration-element);
  left: 20px;
  bottom: 20px;
  width: 25px;
  height: 25px;
}
.decoration-element {
  position: absolute;
  right: 48px;
  top: 21px;
}

.decoration-element::before {
  content: "REC";
  color: var(--decoration-element);
  font-family: inherit;
  display: inline-block;
}

.decoration-element::after {
  content: "";
  background-color: var(--decoration-element);
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 4px 2px var(--decoration-element);
  top: 6px;
  left: 42px;
  position: absolute;
}

.header__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--main-title);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--shadow-color);
  margin-inline-start: -20px;
}

.header__theme-menu {
  justify-self: center;
}

.header__text {
  font-size: 18px;
  justify-self: end;
  width: 50%; /*под вопросом ничего не меняется если удалить*/
  align-self: center;
  font-weight: 700;
  color: var(--sub-title-color);
  line-height: 23.4px;
}

.title_decor {
  background-color: var(--backgroundg-sub-title);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--button-color);
  border: none;
  text-transform: lowercase;
  line-height: 18px;
  padding: 2px 13px;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
  color: var(--focus-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color);
}

.main {
  padding-top: 60px;
}

.focus__block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.section__title {
  font-weight: 700;
  color: var(--title-color);
  font-size: inherit;
  line-height: 23.4px;
}

.section__sub-title {
  font-size: inherit;
  line-height: 23.4px;
  margin-block-end: 10px;
  font-weight: 700;
}

.section__text {
  font-size: inherit;
  line-height: 23.4px;
  color: var(--text-color);
  font-weight: 400;
  margin-block-end: 20px;
}
.section__text:last-child {
  margin-block-end: 0px;
}

.text__link {
  text-decoration: none;
  cursor: pointer;
  text-shadow: 2px 2px 0 var(--link-color);
}

.text__link:hover {
  border-bottom: 1px solid var(--link-status);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--link-status);
  outline-offset: 0px;
}

.concentration__block {
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, min-content);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas:
    "concentration unset unset"
    "multitasking eat gadgets";
}

.concentration {
  grid-area: concentration;
}

.multitasking {
  grid-area: multitasking;
}
.eat {
  grid-area: eat;
}

.gadgets {
  grid-area: gadgets;
}

.how__block {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;
}

.concentration__title {
  font-size: inherit;
  line-height: 23.4px;
  margin-block-end: 20px;
  font-weight: 700;
}

.concentration__sub-title {
  font-weight: 400;
  font-size: inherit;
  line-height: 23.4px;
  margin-block-end: 10px;
}

.concentration__text {
  font-size: inherit;
  line-height: 23.4px;
  color: var(--text-color);
  font-weight: 400;
  margin-block-end: 20px;
}

.concentration__text:last-child {
  margin-block-end: 0px;
}

.gallery__section {
  padding-top: 80px;
}

.gallery__list {
  margin-block-start: 20px;
  margin-block-end: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 315px 428px;
  grid-column-gap: 20px;
  grid-row-gap: 22px;
  grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
}

.galery__img {
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
}

.sunset {
  grid-area: sunset;
}
.ice-cream {
  grid-area: ice-cream;
}
.tape {
  grid-area: tape;
}
.books {
  grid-area: books;
}
.street {
  grid-area: street;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  min-block-size: 375px;
  padding: 20px;
  position: relative;
}

.footer__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--main-title);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px var(--shadow-color);
}

@media (max-width: 1024px) {
  .header__theme-menu-list {
  }
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    
  }
  .header__theme-menu {
    justify-self: end;
    align-self: center;
    display: block;
    
  }
  .header__theme-menu-button {
    padding: 4px 13px;
  }
  .header__text{
    width: 364px;
  }
}
