:root {
  --button-color: #ff0070;
  --decoration-element: #ff0070;
  --background-image: url(/images/cover-image-dark.png);
  --hover-color: rgb(255 0 112 / 0.4);
  --main-font: 'IBM Plex mono', monospace;
  --focus-color: #ff0070;
  --main-title: #db00ff;
  --sub-title-color: #000028;
  --backgroundg-sub-title: #ff0070;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --bg-color: #000028;
  --link-color: #ff0070;
  --link-status: #f1b2ce;
  --shadow-color: #ff0070;
}
