:root {/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
--main-font:'IBM Plex mono';
--title-color:#DB00FF;
subtitle-color:Что делать, когда не можешь делать ничего
Или почему нам так сложно сконцентрироваться, особенно когда очень надо
--text-color: #F1B2CE;
--sub

}