:root {/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
 
  	    --button-color: #FF0070;
    	    --decoration-element:#FF0070; розоватый
 		    --background-image: url(/images/cover-image-dark.png);
       --hover-color: rgb(255 0 112 / 0.4);
    --main-font:'IBM Plex mono' sans-serif;
		    --focus-color: #FF0070;
  --sub-title-color: #000028; 
     --title-color: #FF0070; 	
цвет текста 	    --text-color: #F1B2CE;      
цвет фона 	    --bg-color: #000028       
цвет ссылок  	    --link-color: #FF0070;






}